In [1]:
import pandas as pd

In [5]:

csv_file_path = './Everyday_table/TNS_27-Sep-2023.csv'

TNS_table = pd.read_csv(csv_file_path)

'''
"Unnamed: 0" : TNS name
"Sep_arcsec" : distance to closest galaxy
"Gal_1_type" : closest galaxy type
"Gal_1_name" : closest galaxy name
"Gal_1_info" : closest galaxy more info include in array
               [name,RA,DEC,sep(arcsec),sep(kpc),Object type,Object type_opt]
'''
for i in range(len(TNS_table)):
    print(TNS_table['Unnamed: 0'][i],TNS_table['RA'][i],TNS_table['DEC'][i],\
          TNS_table['Sep_arcsec'][i],TNS_table['Gal_1_type'][i])

2023tqr 07:54:40.820 +23:03:23.65 2.486 Galaxy
2023tre 07:57:43.579 +27:19:42.68 4.459 Galaxy