In [8]:
import pandas as pd

In [12]:
csv_file_path = './TNS_match_GLADE.csv'

TNS_table = pd.read_csv(csv_file_path)

'''
"TNS_ID" : TNS name
"Sep_arcsec" : distance to closest galaxy
"Gal_1_type" : closest galaxy type
"Gal_1_name" : closest galaxy name
"Gal_1_ABS_Mag" :Absolute Magnitude calcuate by Galaxy distace with TNS mag 
"Gal_1_info" : closest galaxy more info include in array
            Simbad:
               [name,RA,DEC,sep(arcsec),sep(kpc),Object type,Object type_opt]
            GLADE:
               [RA,DEC,Flag1,all_dist,all_z,sep(arcsec),sep(kpc)]
'''
for i in range(len(TNS_table)):
    print(TNS_table['TNS_ID'][i],TNS_table['RA'][i],TNS_table['DEC'][i],\
          TNS_table['Sep_arcsec'][i],TNS_table['Gal_1_info'][i][-1])

2023tjx 22:30:13.652 -48:09:04.45 2.3187288247780984 ]
2023trm 06:26:46.081 +53:45:41.26 3.452230932363779 ]
2023tmc 03:07:06.558 -42:45:00.98 1.1876624653631185 ]
2023tlt 07:04:56.284 -48:27:47.53 3.9814642289694873 ]
2023tlh 23:14:50.243 +21:49:50.65 3.8056569580403687 ]
2023tkr 08:48:09.360 +35:15:31.79 2.9571709374083843 ]
2023tll 22:43:40.823 -34:48:32.62 2.672738285093999 ]
2023tjv 05:49:29.696 -25:00:54.20 1.8204727570346035 ]
2023tkf 05:16:24.053 +03:58:48.15 4.223586249107743 ]
2023tlw 05:27:48.128 +05:20:10.17 3.37322241951214 ]
2023tmg 16:34:20.634 +49:14:07.34 4.632477352969037 ]
2023tmg 16:34:20.634 +49:14:07.34 4.632477352969037 ]
2023tky 00:06:16.858 +35:11:11.42 4.668790084001503 ]
2023tml 23:45:16.226 -26:03:13.34 1.0177070578322611 ]
2023tml 23:45:16.226 -26:03:13.34 1.0177070578322611 ]
2023tnc 23:12:21.562 -22:07:36.20 3.939296734023116 ]
2023tnc 23:12:21.562 -22:07:36.20 3.939296734023116 ]
2023tmp 06:50:31.739 -20:19:52.80 4.425901409709768 ]
2023tmp 06:50:31.739 -20:19:52.80 4.425901409709768 ]
2023tnn 07:40:55.306 +56:29:21.16 3.258094838020225 ]
2023tnn 07:40:55.306 +56:29:21.16 3.258094838020225 ]
2023tnl 07:45:43.052 +62:32:48.14 1.336537695460619 ]
2023tnl 07:45:43.052 +62:32:48.14 1.336537695460619 ]
2023tmq 09:19:05.903 +13:26:53.04 1.5370507614285338 ]
2023tmq 09:19:05.903 +13:26:53.04 1.5370507614285338 ]
2023tmr 09:53:55.963 +23:23:03.45 4.529631825437164 ]
2023tmr 09:53:55.963 +23:23:03.45 4.529631825437164 ]
2023trd 01:29:13.761 -07:41:36.01 4.223905611777061 ]
2023tqp 04:25:59.365 -09:11:18.74 4.800060671042149 ]
2023tqr 07:54:40.820 +23:03:23.65 2.695496323156685 ]
2023tre 07:57:43.579 +27:19:42.68 4.349895678792972 ]
2023tsh 22:17:19.110 -35:49:52.21 1.1911516587166564 ]
2023tsg 03:25:47.510 -50:43:57.14 2.0982592439544177 ]
2023trw 05:42:56.883 -21:53:24.69 4.160969546672996 ]

In [13]:
TNS_table

,TNS_ID,RA,DEC,DiscoveryDate,Mag,MagUnit,Filter,Reporter,Sep_arcsec,Gal_1_type,Gal_1_ABS_Mag,Gal_1_dist,Gal_1_z,Gal_1_info,Gal_2_type,Gal_2_ABS_Mag,Gal_2_dist,Gal_2_z,Gal_2_info
0,2023tjx,22:30:13.652,-48:09:04.45,2023-09-12 01:33:16.992,18.7860,ABMag,cyan - ATLAS,J. Tonry,2.318729,G,-19.109837,379.461299,0.083226,['337.557129' '-48.151859' 'G' '379.461299446'...,NaN,NaN,NaN,NaN,NaN
1,2023trm,06:26:46.081,+53:45:41.26,2023-09-13 11:46:44.999,20.8484,ABMag,g - ZTF,Julien Peloton,3.452231,G,-17.906227,563.540794,0.120459,['96.690651' '53.76199' 'G' '563.540793805' '0...,NaN,NaN,NaN,NaN,NaN
2,2023tmc,03:07:06.558,-42:45:00.98,2023-09-17 22:14:46.752,19.4810,ABMag,cyan - ATLAS,J. Tonry,1.187662,G,999.000000,0.000000,0.000000,['46.777' '-42.7505' 'G' '0.0' '0.0' '1.187662...,NaN,NaN,NaN,NaN,NaN
3,2023tlt,07:04:56.284,-48:27:47.53,2023-09-18 02:23:35.808,18.9440,ABMag,cyan - ATLAS,J. Tonry,3.981464,G,-18.134582,260.445184,0.058570,['106.234634' '-48.464306' 'G' '260.445183733'...,NaN,NaN,NaN,NaN,NaN
4,2023tlh,23:14:50.243,+21:49:50.65,2023-09-18 09:48:47.232,19.4330,ABMag,cyan - ATLAS,J. Tonry,3.805657,G,-17.345945,226.876206,0.050524,['348.709991' '21.829865' 'G' '226.876205681' ...,NaN,NaN,NaN,NaN,NaN
5,2023tkr,08:48:09.360,+35:15:31.79,2023-09-20 02:51:21.600,18.9200,ABMag,G - Gaia,S.T. Hodgkin,2.957171,G,-18.111160,254.819136,0.056930,['132.04' '35.25892' 'G' '254.819135764' '0.05...,NaN,NaN,NaN,NaN,NaN
6,2023tll,22:43:40.823,-34:48:32.62,2023-09-21 03:53:30.624,18.6270,ABMag,orange - ATLAS,J. Tonry,2.672738,G,-18.802998,306.196000,0.067899,['340.921' '-34.80907' 'G' '306.196' '0.067898...,NaN,NaN,NaN,NaN,NaN
7,2023tjv,05:49:29.696,-25:00:54.20,2023-09-21 08:00:55.872,18.9210,ABMag,orange - ATLAS,J. Tonry,1.820473,G,-17.508500,193.152347,0.043227,['87.3734' '-25.01465' 'G' '193.152347375' '0....,NaN,NaN,NaN,NaN,NaN
8,2023tkf,05:16:24.053,+03:58:48.15,2023-09-21 13:35:38.688,20.2900,ABMag,w - P1,K. C. Chambers,4.223586,G,-19.273151,817.768057,0.169320,['79.101295' '3.979564' 'G' '817.768056857' '0...,NaN,NaN,NaN,NaN,NaN
9,2023tlw,05:27:48.128,+05:20:10.17,2023-09-21 13:40:21.216,20.7500,ABMag,w - P1,K. C. Chambers,3.373222,G,-16.910707,340.519050,0.075118,['81.950508' '5.337095' 'G' '340.519049977' '0...,NaN,NaN,NaN,NaN,NaN
10,2023tmg,16:34:20.634,+49:14:07.34,2023-09-22 03:49:01.920,19.7417,ABMag,g - ZTF,K. De (Caltech) on behalf of ZTF,4.632477,G,-17.235866,248.606901,0.055382,['248.587936' '49.2355' 'G' '248.606900582' '0...,NaN,NaN,NaN,NaN,NaN
11,2023tmg,16:34:20.634,+49:14:07.34,2023-09-22 03:49:01.920,19.7417,ABMag,g - ZTF,K. De (Caltech) on behalf of ZTF,4.632477,G,-17.235866,248.606901,0.055382,['248.587936' '49.2355' 'G' '248.606900582' '0...,NaN,NaN,NaN,NaN,NaN
12,2023tky,00:06:16.858,+35:11:11.42,2023-09-22 11:03:40.032,18.7720,ABMag,cyan - ATLAS,J. Tonry,4.668790,G,-18.795366,326.191847,0.072113,['1.571574' '35.18721' 'G' '326.191846853' '0....,NaN,NaN,NaN,NaN,NaN
13,2023tml,23:45:16.226,-26:03:13.34,2023-09-24 02:26:13.056,18.6940,ABMag,orange - ATLAS,J. Tonry,1.017707,G,-18.286571,248.951206,0.055088,['356.317902' '-26.053604' 'G' '248.951206065'...,NaN,NaN,NaN,NaN,NaN
14,2023tml,23:45:16.226,-26:03:13.34,2023-09-24 02:26:13.056,18.6940,ABMag,orange - ATLAS,J. Tonry,1.017707,G,-18.286571,248.951206,0.055088,['356.317902' '-26.053604' 'G' '248.951206065'...,NaN,NaN,NaN,NaN,NaN
15,2023tnc,23:12:21.562,-22:07:36.20,2023-09-24 07:02:46.997,18.7409,ABMag,g - ZTF,F. Forster,3.939297,G,999.000000,0.000000,0.000000,['348.089' '-22.12749' 'G' '0.0' '0.0' '3.9392...,NaN,NaN,NaN,NaN,NaN
16,2023tnc,23:12:21.562,-22:07:36.20,2023-09-24 07:02:46.997,18.7409,ABMag,g - ZTF,F. Forster,3.939297,G,999.000000,0.000000,0.000000,['348.089' '-22.12749' 'G' '0.0' '0.0' '3.9392...,NaN,NaN,NaN,NaN,NaN
17,2023tmp,06:50:31.739,-20:19:52.80,2023-09-24 08:26:59.712,18.8170,ABMag,orange - ATLAS,J. Tonry,4.425901,G,-18.249718,259.026125,0.057944,['102.632759' '-20.330202' 'G' '259.026124541'...,G,999.000000,0.000000,0.000000,['102.633' '-20.33019' 'G' '0.0' '0.0' '4.8397...
18,2023tmp,06:50:31.739,-20:19:52.80,2023-09-24 08:26:59.712,18.8170,ABMag,orange - ATLAS,J. Tonry,4.425901,G,-18.249718,259.026125,0.057944,['102.632759' '-20.330202' 'G' '259.026124541'...,G,999.000000,0.000000,0.000000,['102.633' '-20.33019' 'G' '0.0' '0.0' '4.8397...
19,2023tnn,07:40:55.306,+56:29:21.16,2023-09-24 11:18:10.996,17.7303,ABMag,r - ZTF,F. Forster,3.258095,G,-19.019621,223.863932,0.049961,['115.231659' '56.488605' 'G' '223.863932216' ...,NaN,NaN,NaN,NaN,NaN
20,2023tnn,07:40:55.306,+56:29:21.16,2023-09-24 11:18:10.996,17.7303,ABMag,r - ZTF,F. Forster,3.258095,G,-19.019621,223.863932,0.049961,['115.231659' '56.488605' 'G' '223.863932216' ...,NaN,NaN,NaN,NaN,NaN
21,2023tnl,07:45:43.052,+62:32:48.14,2023-09-24 11:18:52.001,19.2339,ABMag,r - ZTF,F. Forster,1.336538,G,999.000000,0.000000,0.000000,['116.429893' '62.546993' 'G' '0.0' '0.0' '1.3...,NaN,NaN,NaN,NaN,NaN
22,2023tnl,07:45:43.052,+62:32:48.14,2023-09-24 11:18:52.001,19.2339,ABMag,r - ZTF,F. Forster,1.336538,G,999.000000,0.000000,0.000000,['116.429893' '62.546993' 'G' '0.0' '0.0' '1.3...,NaN,NaN,NaN,NaN,NaN
23,2023tmq,09:19:05.903,+13:26:53.04,2023-09-24 12:27:16.001,18.3249,ABMag,r - ZTF,F. Forster,1.537051,G,-19.395099,349.945000,0.077089,['139.775' '13.4479' 'G' '349.945' '0.07708851...,NaN,NaN,NaN,NaN,NaN
24,2023tmq,09:19:05.903,+13:26:53.04,2023-09-24 12:27:16.001,18.3249,ABMag,r - ZTF,F. Forster,1.537051,G,-19.395099,349.945000,0.077089,['139.775' '13.4479' 'G' '349.945' '0.07708851...,NaN,NaN,NaN,NaN,NaN
25,2023tmr,09:53:55.963,+23:23:03.45,2023-09-24 12:28:37.001,17.0131,ABMag,r - ZTF,F. Forster,4.529632,G,999.000000,0.000000,0.000000,['148.482' '23.38365' 'G' '0.0' '0.0' '4.52963...,G,-16.729249,56.036354,0.012482,['148.484863' '23.38331' 'G' '56.0363538007' '...
26,2023tmr,09:53:55.963,+23:23:03.45,2023-09-24 12:28:37.001,17.0131,ABMag,r - ZTF,F. Forster,4.529632,G,999.000000,0.000000,0.000000,['148.482' '23.38365' 'G' '0.0' '0.0' '4.52963...,G,-16.729249,56.036354,0.012482,['148.484863' '23.38331' 'G' '56.0363538007' '...
27,2023trd,01:29:13.761,-07:41:36.01,2023-09-25 11:02:59.424,20.2900,ABMag,i - P1,K. C. Chambers,4.223906,G,-17.942312,443.059858,0.096287,['22.306385' '-7.694033' 'G' '443.059857842' '...,NaN,NaN,NaN,NaN,NaN
28,2023tqp,04:25:59.365,-09:11:18.74,2023-09-25 14:00:21.312,20.6100,ABMag,w - P1,K. C. Chambers,4.800061,G,-17.084197,345.811425,0.076225,['66.496094' '-9.188059' 'G' '345.811425203' '...,NaN,NaN,NaN,NaN,NaN
29,2023tqr,07:54:40.820,+23:03:23.65,2023-09-25 14:42:31.968,19.8000,ABMag,w - P1,K. C. Chambers,2.695496,G,-18.435871,443.786609,0.096435,['118.669533' '23.057121' 'G' '443.786608745' ...,G,-18.509044,458.995898,0.099526,['118.670738' '23.059067' 'G' '458.995897688' ...
30,2023tre,07:57:43.579,+27:19:42.68,2023-09-25 14:46:14.880,21.2200,ABMag,w - P1,K. C. Chambers,4.349896,G,-17.550002,567.545000,0.121250,['119.431358' '27.32733' 'G' '567.545' '0.1212...,NaN,NaN,NaN,NaN,NaN
31,2023tsh,22:17:19.110,-35:49:52.21,2023-09-25 17:51:21.600,18.3200,ABMag,G - Gaia,S.T. Hodgkin,1.191152,G,-20.940001,711.214000,0.149168,['334.33' '-35.8313' 'G' '711.214' '0.14916769...,NaN,NaN,NaN,NaN,NaN
32,2023tsg,03:25:47.510,-50:43:57.14,2023-09-25 22:53:45.600,18.4200,ABMag,G - Gaia,S.T. Hodgkin,2.098259,G,999.000000,0.000000,0.000000,['51.4471' '-50.73275' 'G' '0.0' '0.0' '2.0982...,NaN,NaN,NaN,NaN,NaN
33,2023trw,05:42:56.883,-21:53:24.69,2023-09-26 14:22:30.144,20.5400,ABMag,w - P1,K. C. Chambers,4.160970,G,-18.558934,660.369127,0.139390,['85.736664' '-21.889082' 'G' '660.369127233' ...,NaN,NaN,NaN,NaN,NaN