In [13]:
import pandas as pd
import numpy as np
import re

In [16]:
csv_file_path = './TNS_match_GC.csv'

TNS_table = pd.read_csv(csv_file_path)

'''
"TNS_ID" : TNS name
"Sep_arcsec" : distance to closest galaxy
"Gal_1_type" : closest galaxy type
"Gal_1_name" : closest galaxy name
"Gal_1_ABS_Mag" :Absolute Magnitude calcuate by Galaxy distace with TNS mag 
"Gal_1_info" : closest galaxy more info include in array
            Simbad:
               [name,RA,DEC,sep(arcsec),sep(kpc),Object type,Object type_opt]
            GLADE:
               [RA,DEC,Flag1,all_dist,all_z,sep(arcsec),sep(kpc)]
'''

print('TNS_ID      DiscoveryDate            RA            DEC      Sep_arcsec        Sep_kpc')
for i in range(len(TNS_table)):
    matches = re.findall(r"'([^']+)'", TNS_table['Gal_1_info'][i])
    
    
    print(TNS_table['TNS_ID'][i],TNS_table['DiscoveryDate'][i],TNS_table['RA'][i],TNS_table['DEC'][i],\
          TNS_table['Sep_arcsec'][i],TNS_table['Sep_kpc'][i],TNS_table['ReportDate'][i])

TNS_ID      DiscoveryDate            RA            DEC      Sep_arcsec        Sep_kpc
2023uht* 2023-10-07 14:47:28.320 10:05:54.018 +37:04:51.73 5.942710525760449 4260.754515934403 08-Oct-2023
2023ujf* 2023-10-07 07:52:34.752 01:23:04.875 +14:14:25.86 4.723233967715075 5201.394840726184 09-Oct-2023
2023ubs* 2023-10-04 15:13:43.392 08:49:54.011 +40:31:10.21 8.777406191463035 6339.332218943499 06-Oct-2023

In [17]:
TNS_table[:20]

,TNS_ID,RA,DEC,DiscoveryDate,ReportDate,Mag,MagUnit,Filter,Sep_arcsec,Sep_kpc,Gal_1_type,Gal_1_ABS_Mag,Gal_1_dist,Gal_1_info,Reporter
0,2023uht*,10:05:54.018,+37:04:51.73,2023-10-07 14:47:28.320,08-Oct-2023,18.457,ABMag,orange - ATLAS,5.942711,4260.754516,DG_GALAXY_STARFORMING,-9.690433,147886.002678,['SDSS_52993_PLATEID_1426_FIBERID_134' '151.47...,J. Tonry
1,2023ujf*,01:23:04.875,+14:14:25.86,2023-10-07 07:52:34.752,09-Oct-2023,20.200,ABMag,w - P1,4.723234,5201.394841,DG_GALAXY_,-8.380599,227146.210921,['SDSS_51893_PLATEID_424_FIBERID_175' '20.7692...,K. C. Chambers
2,2023ubs*,08:49:54.011,+40:31:10.21,2023-10-04 15:13:43.392,06-Oct-2023,19.280,ABMag,y - P1,8.777406,6339.332219,DG_GALAXY_STARBURST,-9.730218,148971.245428,['SDSS_52293_PLATEID_830_FIBERID_242' '132.472...,K. C. Chambers