In [1]:
import pandas as pd

In [2]:
csv_file_path = './TNS_all.csv'

TNS_table = pd.read_csv(csv_file_path)

'''
"TNS_ID" : TNS name
"Sep_arcsec" : distance to closest galaxy
"Gal_1_type" : closest galaxy type
"Gal_1_name" : closest galaxy name
"Gal_1_info" : closest galaxy more info include in array
               [name,RA,DEC,sep(arcsec),sep(kpc),Object type,Object type_opt]
'''
for i in range(len(TNS_table)):
    print(TNS_table['TNS_ID'][i],TNS_table['RA'][i],TNS_table['DEC'][i],\
          TNS_table['Sep_arcsec'][i],TNS_table['Gal_1_info'][i])

2023tjx 22:30:13.652 -48:09:04.45 2.561 ['2MASX J22301371-4809066' '337.557' '-48.152' '2.561' 'inf' 'Galaxy' 'G']
2023tmc 03:07:06.558 -42:45:00.98 1.204 ['LEDA  558586' '46.777' '-42.751' '1.204' 'inf' 'Galaxy' 'G']
2023tlt 07:04:56.284 -48:27:47.53 3.474 ['LEDA  487150' '106.235' '-48.464' '3.474' 'inf' 'Galaxy' 'G']
2023tlh 23:14:50.243 +21:49:50.65 4.045 ['Gaia DR3 2837826871203523200' '348.71' '21.83' '4.045' 'inf' 'Galaxy'
 'G']
2023tkl 07:39:40.210 +27:32:53.92 0.079 ['[VV2006] J073940.2+273253' '114.918' '27.548' '0.079' 'inf' 'QSO' 'QSO']
2023tkr 08:48:09.360 +35:15:31.79 4.019 ['SDSS J084809.69+351532.1' '132.04' '35.259' '4.019' 'inf' 'AGN' 'AGN']
2023tmn 01:54:55.632 -01:30:59.97 4.74 ['MCG+00-05-050' '28.731' '-1.515' '4.74' 'inf' 'Galaxy' 'G']
2023tmn 01:54:55.632 -01:30:59.97 4.74 ['MCG+00-05-050' '28.731' '-1.515' '4.74' 'inf' 'Galaxy' 'G']
2023tll 22:43:40.823 -34:48:32.62 1.133 ['2dFGRS TGS533Z131' '340.92' '-34.809' '1.133' 'inf' 'Galaxy' 'G']
2023tjv 05:49:29.696 -25:00:54.20 1.201 ['LEDA  783584' '87.374' '-25.015' '1.201' 'inf' 'Galaxy' 'G']
2023tsn 03:48:34.180 +75:21:29.49 2.383 ['Gaia DR3 550903192929334528' '57.14' '75.358' '2.383' 'inf' 'Galaxy' 'G']
2023tmg 16:34:20.634 +49:14:07.34 4.636 ['2MASX J16342110+4914078' '248.588' '49.236' '4.636' 'inf' 'GtowardsCl'
 'GiC']
2023tmg 16:34:20.634 +49:14:07.34 4.636 ['2MASX J16342110+4914078' '248.588' '49.236' '4.636' 'inf' 'GtowardsCl'
 'GiC']
2023tsq 23:12:24.189 +17:42:41.52 0.223 ['LAMOST J231224.20+174241.3' '348.101' '17.711' '0.223' 'inf' 'Galaxy'
 'G']
2023tky 00:06:16.858 +35:11:11.42 3.753 ['2MASX J00061717+3511139' '1.571' '35.187' '3.753' 'inf' 'Galaxy' 'G']
2023tlp 04:43:04.611 -25:22:51.83 3.509 ['LEDA  779596' '70.769' '-25.382' '3.509' 'inf' 'Galaxy' 'G']
2023tml 23:45:16.226 -26:03:13.34 1.336 ['2MASX J23451629-2603129' '356.318' '-26.054' '1.336' 'inf' 'Galaxy' 'G']
2023tml 23:45:16.226 -26:03:13.34 1.336 ['2MASX J23451629-2603129' '356.318' '-26.054' '1.336' 'inf' 'Galaxy' 'G']
2023tnc 23:12:21.562 -22:07:36.20 3.896 ['LEDA  818845' '348.09' '-22.128' '3.896' 'inf' 'Galaxy' 'G']
2023tnc 23:12:21.562 -22:07:36.20 3.896 ['LEDA  818845' '348.09' '-22.128' '3.896' 'inf' 'Galaxy' 'G']
2023tmp 06:50:31.739 -20:19:52.80 4.424 ['2MASX J06503186-2019487' '102.633' '-20.33' '4.424' 'inf' 'Galaxy' 'G']
2023tmp 06:50:31.739 -20:19:52.80 4.424 ['2MASX J06503186-2019487' '102.633' '-20.33' '4.424' 'inf' 'Galaxy' 'G']
2023tnn 07:40:55.306 +56:29:21.16 2.692 ['LEDA 2538367' '115.231' '56.489' '2.692' 'inf' 'Galaxy' 'G']
2023tnn 07:40:55.306 +56:29:21.16 2.692 ['LEDA 2538367' '115.231' '56.489' '2.692' 'inf' 'Galaxy' 'G']
2023tqr 07:54:40.820 +23:03:23.65 2.486 ['SDSS J075440.72+230325.7' '118.67' '23.057' '2.486' 'inf' 'Galaxy' 'G']
2023tre 07:57:43.579 +27:19:42.68 4.459 ['LEDA 1804664' '119.432' '27.327' '4.459' 'inf' 'Galaxy' 'G']
2023tsh 22:17:19.110 -35:49:52.21 0.732 ['2dFGRS TGS588Z262' '334.33' '-35.831' '0.732' 'inf' 'Galaxy' 'G']
2023tsk 14:54:27.120 +51:24:33.70 0.052 ['ATO J223.6130+51.4093' '223.613' '51.409' '0.052' 'inf' 'BLLac' 'BLL']
2023tsg 03:25:47.510 -50:43:57.14 3.066 ['LEDA  463539' '51.447' '-50.733' '3.066' 'inf' 'Galaxy' 'G']
2023tsu 02:48:14.475 -03:10:43.82 3.11 ['SDSS J024814.61-031046.1' '42.061' '-3.179' '3.11' 'inf' 'Galaxy' 'G']
2023tst 02:20:02.637 -03:48:30.96 2.145 ['GAMA 2309927' '35.012' '-3.809' '2.145' 'inf' 'Galaxy' 'G']

In [3]:
TNS_table

,TNS_ID,RA,DEC,DiscoveryDate,Mag,MagUnit,Filter,Reporter,Sep_arcsec,Gal_1_type,Gal_1_name,Gal_1_info,Gal_2_type,Gal_2_name,Gal_2_info,Gal_3_type,Gal_3_name,Gal_3_info
0,2023tjx,22:30:13.652,-48:09:04.45,2023-09-12 01:33:16.992,18.7860,ABMag,cyan - ATLAS,J. Tonry,2.561,Galaxy,2MASX J22301371-4809066,['2MASX J22301371-4809066' '337.557' '-48.152'...,NaN,NaN,NaN,NaN,NaN,NaN
1,2023tmc,03:07:06.558,-42:45:00.98,2023-09-17 22:14:46.752,19.4810,ABMag,cyan - ATLAS,J. Tonry,1.204,Galaxy,LEDA 558586,['LEDA 558586' '46.777' '-42.751' '1.204' 'in...,NaN,NaN,NaN,NaN,NaN,NaN
2,2023tlt,07:04:56.284,-48:27:47.53,2023-09-18 02:23:35.808,18.9440,ABMag,cyan - ATLAS,J. Tonry,3.474,Galaxy,LEDA 487150,['LEDA 487150' '106.235' '-48.464' '3.474' 'i...,NaN,NaN,NaN,NaN,NaN,NaN
3,2023tlh,23:14:50.243,+21:49:50.65,2023-09-18 09:48:47.232,19.4330,ABMag,cyan - ATLAS,J. Tonry,4.045,Galaxy,Gaia DR3 2837826871203523200,['Gaia DR3 2837826871203523200' '348.71' '21.8...,NaN,NaN,NaN,NaN,NaN,NaN
4,2023tkl,07:39:40.210,+27:32:53.92,2023-09-19 09:08:38.400,17.9200,ABMag,G - Gaia,S.T. Hodgkin,0.079,QSO,[VV2006] J073940.2+273253,['[VV2006] J073940.2+273253' '114.918' '27.548...,NaN,NaN,NaN,NaN,NaN,NaN
5,2023tkr,08:48:09.360,+35:15:31.79,2023-09-20 02:51:21.600,18.9200,ABMag,G - Gaia,S.T. Hodgkin,4.019,AGN,SDSS J084809.69+351532.1,['SDSS J084809.69+351532.1' '132.04' '35.259' ...,Seyfert2,Z 180-9,['Z 180-9' '132.04' '35.259' '4.17' 'inf' 'Sey...,AGN,SDSS J084810.10+351534.4,['SDSS J084810.10+351534.4' '132.042' '35.26' ...
6,2023tmn,01:54:55.632,-01:30:59.97,2023-09-20 10:05:11.328,20.5246,ABMag,g - ZTF,K. De (Caltech) on behalf of ZTF,4.740,Galaxy,MCG+00-05-050,['MCG+00-05-050' '28.731' '-1.515' '4.74' 'inf...,NaN,NaN,NaN,NaN,NaN,NaN
7,2023tmn,01:54:55.632,-01:30:59.97,2023-09-20 10:05:11.328,20.5246,ABMag,g - ZTF,K. De (Caltech) on behalf of ZTF,4.740,Galaxy,MCG+00-05-050,['MCG+00-05-050' '28.731' '-1.515' '4.74' 'inf...,NaN,NaN,NaN,NaN,NaN,NaN
8,2023tll,22:43:40.823,-34:48:32.62,2023-09-21 03:53:30.624,18.6270,ABMag,orange - ATLAS,J. Tonry,1.133,Galaxy,2dFGRS TGS533Z131,['2dFGRS TGS533Z131' '340.92' '-34.809' '1.133...,NaN,NaN,NaN,NaN,NaN,NaN
9,2023tjv,05:49:29.696,-25:00:54.20,2023-09-21 08:00:55.872,18.9210,ABMag,orange - ATLAS,J. Tonry,1.201,Galaxy,LEDA 783584,['LEDA 783584' '87.374' '-25.015' '1.201' 'in...,NaN,NaN,NaN,NaN,NaN,NaN
10,2023tmg,16:34:20.634,+49:14:07.34,2023-09-22 03:49:01.920,19.7417,ABMag,g - ZTF,K. De (Caltech) on behalf of ZTF,4.636,GtowardsCl,2MASX J16342110+4914078,['2MASX J16342110+4914078' '248.588' '49.236' ...,NaN,NaN,NaN,NaN,NaN,NaN
11,2023tmg,16:34:20.634,+49:14:07.34,2023-09-22 03:49:01.920,19.7417,ABMag,g - ZTF,K. De (Caltech) on behalf of ZTF,4.636,GtowardsCl,2MASX J16342110+4914078,['2MASX J16342110+4914078' '248.588' '49.236' ...,NaN,NaN,NaN,NaN,NaN,NaN
12,2023tky,00:06:16.858,+35:11:11.42,2023-09-22 11:03:40.032,18.7720,ABMag,cyan - ATLAS,J. Tonry,3.753,Galaxy,2MASX J00061717+3511139,['2MASX J00061717+3511139' '1.571' '35.187' '3...,NaN,NaN,NaN,NaN,NaN,NaN
13,2023tlp,04:43:04.611,-25:22:51.83,2023-09-23 01:04:27.264,18.7720,ABMag,cyan - ATLAS,J. Tonry,3.509,Galaxy,LEDA 779596,['LEDA 779596' '70.769' '-25.382' '3.509' 'in...,NaN,NaN,NaN,NaN,NaN,NaN
14,2023tml,23:45:16.226,-26:03:13.34,2023-09-24 02:26:13.056,18.6940,ABMag,orange - ATLAS,J. Tonry,1.336,Galaxy,2MASX J23451629-2603129,['2MASX J23451629-2603129' '356.318' '-26.054'...,NaN,NaN,NaN,NaN,NaN,NaN
15,2023tml,23:45:16.226,-26:03:13.34,2023-09-24 02:26:13.056,18.6940,ABMag,orange - ATLAS,J. Tonry,1.336,Galaxy,2MASX J23451629-2603129,['2MASX J23451629-2603129' '356.318' '-26.054'...,NaN,NaN,NaN,NaN,NaN,NaN
16,2023tnc,23:12:21.562,-22:07:36.20,2023-09-24 07:02:46.997,18.7409,ABMag,g - ZTF,F. Forster,3.896,Galaxy,LEDA 818845,['LEDA 818845' '348.09' '-22.128' '3.896' 'in...,NaN,NaN,NaN,NaN,NaN,NaN
17,2023tnc,23:12:21.562,-22:07:36.20,2023-09-24 07:02:46.997,18.7409,ABMag,g - ZTF,F. Forster,3.896,Galaxy,LEDA 818845,['LEDA 818845' '348.09' '-22.128' '3.896' 'in...,NaN,NaN,NaN,NaN,NaN,NaN
18,2023tmp,06:50:31.739,-20:19:52.80,2023-09-24 08:26:59.712,18.8170,ABMag,orange - ATLAS,J. Tonry,4.424,Galaxy,2MASX J06503186-2019487,['2MASX J06503186-2019487' '102.633' '-20.33' ...,NaN,NaN,NaN,NaN,NaN,NaN
19,2023tmp,06:50:31.739,-20:19:52.80,2023-09-24 08:26:59.712,18.8170,ABMag,orange - ATLAS,J. Tonry,4.424,Galaxy,2MASX J06503186-2019487,['2MASX J06503186-2019487' '102.633' '-20.33' ...,NaN,NaN,NaN,NaN,NaN,NaN
20,2023tnn,07:40:55.306,+56:29:21.16,2023-09-24 11:18:10.996,17.7303,ABMag,r - ZTF,F. Forster,2.692,Galaxy,LEDA 2538367,['LEDA 2538367' '115.231' '56.489' '2.692' 'in...,NaN,NaN,NaN,NaN,NaN,NaN
21,2023tnn,07:40:55.306,+56:29:21.16,2023-09-24 11:18:10.996,17.7303,ABMag,r - ZTF,F. Forster,2.692,Galaxy,LEDA 2538367,['LEDA 2538367' '115.231' '56.489' '2.692' 'in...,NaN,NaN,NaN,NaN,NaN,NaN
22,2023tqr,07:54:40.820,+23:03:23.65,2023-09-25 14:42:31.968,19.8000,ABMag,w - P1,K. C. Chambers,2.486,Galaxy,SDSS J075440.72+230325.7,['SDSS J075440.72+230325.7' '118.67' '23.057' ...,PairG,[PA2008] 118.669669+23.05716,['[PA2008] 118.669669+23.05716' '118.67' '23.0...,BrightestCG,SDSS J075441.21+230324.1,['SDSS J075441.21+230324.1' '118.672' '23.057'...
23,2023tre,07:57:43.579,+27:19:42.68,2023-09-25 14:46:14.880,21.2200,ABMag,w - P1,K. C. Chambers,4.459,Galaxy,LEDA 1804664,['LEDA 1804664' '119.432' '27.327' '4.459' 'in...,NaN,NaN,NaN,NaN,NaN,NaN